<div class="container">
  <div class="post" id="title" data-id="{{comments.id}}">
    <h2>{{comments.title}}</h2>
    <p>{{comments.content}}</p>
    <p>{{comments.user.name}}</p>
    <div class="author-date">{{comments.date}}</div>
  </div>
  <div>
    <form id="comment-post-form">
      <div class="form-group">
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="4" required></textarea>
      </div>
      <button type="submit">Create Comment</button>
  </form>
  </div>
  <br>
  <br>
  {{#each comments.comments}}
  <div class="post" id="comments">
    <p>{{this.content}}</p>
    <p>{{this.user.name}}, {{this.date}}</p>
  </div>
  {{/each}}
</div>

<script src="/js/comments.js"></script>